@font-face{
	font-family: "Display";
	src: url("Open 24 Display St.ttf");
}

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Display";
}
h1{
	font-size: 50px;
	text-align: center;
	color: #FF2626;
	background-color: #424949;
	width: 350px;
	padding: 15px;
	margin: auto;
}
#calc{
	margin: auto;
	padding: 15px;
	text-align:center;
	width: 350px;
	background-color: #BFC9CA;
	box-shadow: inset 0 0 10px 10px #95A5A6;
}
#display{
	font-family: "Display";
	color:red;
	background-color: #1F1F1F;
	font-size: 30px;
	border: 0px;
	padding: 10px;
	width: 216px;
}
.btn{
	font-family: "Arial";
	outline: none;
	font-size: 30px;
	width: 50px;
	cursor: pointer;
	border: 0;
	box-shadow: 2px 2px #AAB7B8;
	margin: 2px;
	padding: 10px;
}
.btn:active{
	box-shadow: 0.5px 0.5px #AAB7B8;
	-webkit-transform: translateY(2px);
  	-ms-transform: translateY(2px);
  	-moz-tranform: translateY(2px);
  	transform: translateY(2px);
}

.equal{
	padding-right: 100px;
}